<aside class="sidebar" aria-label="Sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <img src="/public/img/photo.jpg" width="200" height="200" class="joasideimg joacenter" alt="{{ site.title }}">

      <h1>
        <a href="/{{ page.lang }}/about/">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav" aria-label="Profiles and pages">
      {% assign pages_list = site.pages | where:"lang", page.lang %}

      {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn">
        <svg class="icon-social" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
          <circle cx="16" cy="16" r="16"></circle>
          <text x="16" y="21" text-anchor="middle">in</text>
        </svg>
      </a>
      {% endif %}

      {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
        <svg class="icon-social" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
          <circle cx="16" cy="16" r="16"></circle>
          <text x="16" y="21" text-anchor="middle">GH</text>
        </svg>
      </a>
      {% endif %}

      {% if site.scholar_username %}
      <a href="https://scholar.google.be/citations?user={{ site.scholar_username }}n" aria-label="Google Scholar">
        <svg class="icon-social" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
          <circle cx="16" cy="16" r="16"></circle>
          <text x="16" y="21" text-anchor="middle">GS</text>
        </svg>
      </a>
      {% endif %}

      {% comment %} 'current' and 'archive' are separate layout names purely to group nav links below {% endcomment %}
      <hr>
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "current" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "archive" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</aside>
